# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Data
# We usually keep raw data in Git if small, but ignore large processed files
data/processed/*.csv
data/processed/*.xlsx

# OS files
.DS_Store
Thumbs.db